html {
    font-size: max(1vw, 11px);
}


h1 {
    color: #f9b233;
    font-size: 20px;
    margin-left: 6 4 6 4;
    margin-top: 40px;
    text-shadow: 1.5px 1.5px #d47c00;
}


main {
    padding: 10px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


main div a {
    color: #0b3042;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 3px;
    transition: color 0.3s;
}

main div a:hover {
    color: #f9b233;
}

/* --- ÍCONE INSTAGRAM --- */
main div:last-of-type {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
}

main div:last-of-type img {
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 4px 4px 0px #0b3042;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

main div:last-of-type img:hover {
    transform: scale(1.05);
}

/* ======== RESPONSIVIDADE ======== */

@media (max-width: 900px) {
    main {
        padding: 2rem;
        gap: 1.8rem;
    }

    main a {
        font-size: 1.3rem;
    }

    main img {
        width: 100px;
    }

    h1 {
        font-size: 2.6rem;
    }
}

@media (max-width: 600px) {

    main {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2rem;

        margin-right: 3rem;
    }

    main a {
        font-size: 1.1rem;
    }

    main div {
        gap: 0.8rem;
    }

    main img {
        width: 80px;
    }
}