/* === ESTILO GERAL === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    background-color: #8ac4e1;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

/* === VÍDEO DE FUNDO === */
#backgroundvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0.3;

}

/* === CONTEÚDO PRINCIPAL === */
main {
    position: relative;
    top: 20%;
    transform: translateY(-10%);
}

/* === TÍTULOS === */
h1 {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 5rem;
    color: #f4b400;

    text-shadow: 3px 3px 0px #6c8fb8;

    margin-bottom: 0.5rem;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #f4b400;
    margin-bottom: 2rem;
    text-shadow: 3px 3px 0px #6c8fb8;
}

/* === NAVEGAÇÃO === */
nav ol {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a,
nav button {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    background: none;
    border: none;
    font-family: "Gupter", serif;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a:hover,
nav button:hover {
    color: #f4b400;
}


/* === RESPONSIVO === */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    nav ol {
        flex-direction: column;
        gap: 1rem;
    }
}