button,
li {

    padding: 2px;
    border: 0px;

}

button,
li a {
    background-color: none;
    font-size: 14px;
    text-decoration: none;
    color: white;

    font-family: 'Times New Roman', Times, serif;
}


div[popover] {

    inset: auto;
    position: absolute;


    top: anchor(bottom);
    left: anchor(left);
    background-color: white;

    transform: translateY(5px);
}


div[popover] {

    border: 0px;
    margin: 0px;
}

div[popover] ul {
    margin: 0;
    padding: 0;
}

div[popover] ul li {
    display: block;
    list-style: none;
    margin-left: 0;

}

div[popover] li:hover {
    background: #8ecae6;
    transition: 0.2s;
}

.popover-container div[popover] {
    background-color: #52abc3;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}

.popover-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popover-container ul li {
    margin: 6px 0;
}

.popover-container ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.popover-container ul li a:hover {
    color: #f9b233;
}